
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 450px;
  height: 400px;
  margin: 0 20px 10px;
  gap: 1px;
}

.logo_sect img {
  height: 400px;
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.calculator > * {
  padding: 25px;
  font-size: 1.5rem;
  border: 1px white solid;
  font-weight: bold;
}

.zero {
  grid-column: 1/ span 2;
}

main {
  display: flex;
  justify-content: space-between;
}

.input {
  grid-column: 1/ span 4;
  background-color: gray;
  text-align: right;
  justify-self: end;
  font-size: 2rem;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  color: white;
  height: 80px;
}

.symbol {
  background-color: rgb(245, 140, 42);
}

button {
  cursor: pointer;
}

h2 {
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 750px) {
  .calculator > * {
    padding: 15px;
  }

  .calculator {
    width: 350px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    width: 100%;
    text-align: center;
  }
}
