* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  padding-bottom: 30px;
}

p {
  padding: 20px 30px;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.container img {
  height: 300px;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}
