* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
}

.calculator > * {
  padding: 30px 0;
  font-size: 1.5rem;
}

.zero {
  grid-column: 1/ span 2;
}

main {
  position: relative;
}

.output {
  grid-column: 1/ span 4;
  background-color: gray;
  text-align: right;
  justify-self: end;
  font-size: 2rem;
  width: 100%;
  padding: 15px;
}

.symbol {
  background-color: rgb(245, 140, 42);
}
